In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('../datasets/census.csv')

In [3]:
base

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# Normalização

# age, final-weight, education-num, capital-gain, capital-loos, hour-per-week

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

base[['age', 'final-weight', 'education-num', 'capital-gain', 'capital-loos', 'hour-per-week']] = scaler.fit_transform(base[['age', 'final-weight', 'education-num', 'capital-gain', 'capital-loos', 'hour-per-week']])

In [5]:
base

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,-0.035429,United-States,<=50K
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,-2.222153,United-States,<=50K
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,-0.035429,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.639741,Assoc-acdm,0.746039,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145920,-0.21666,-0.197409,United-States,<=50K
32557,0.103983,Private,-0.335433,HS-grad,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145920,-0.21666,-0.035429,United-States,>50K
32558,1.423610,Private,-0.358777,HS-grad,-0.420060,Widowed,Adm-clerical,Unmarried,White,Female,-0.145920,-0.21666,-0.035429,United-States,<=50K
32559,-1.215643,Private,0.110960,HS-grad,-0.420060,Never-married,Adm-clerical,Own-child,White,Male,-0.145920,-0.21666,-1.655225,United-States,<=50K
32560,0.983734,Self-emp-inc,0.929893,HS-grad,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.888424,-0.21666,-0.035429,United-States,>50K

In [6]:

# transformacao por nome da coluna
#pd.get_dummies(base, columns=['sex'])

# transformacao por indice da coluna
column_names_for_onehot = base.columns[[1, 3, 5, 6, 7, 8, 9, 13]]
base_encode = pd.get_dummies(base, columns=column_names_for_onehot, drop_first=True)

# Separação do dataset em previsores e classe
previsores = base_encode.loc[:, base_encode.columns!='income'].values
classe = base_encode['income'].values

base_encode, previsores, classe
'''

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-6-672ae86020ab>, line 13)

In [7]:
# Separação do dataset em previsores e classe

previsores = base.iloc[:, 0:14].values
classe = base.iloc[:, 14].values

In [8]:
# Transformação de variáveis categóricas em numéricas

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_previsores = LabelEncoder()
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [9]:
previsores[0]

array([0.030670557354391753, 7, -1.0636107451560883, 9,
       1.1347387637961643, 4, 1, 1, 4, 1, 0.14845289521747937,
       -0.21665952703259014, -0.03542944697277691, 39], dtype=object)

In [10]:
# Transformação de variáveis nominais (sem ordenação) em 
# numéricas (variaveis do tipo dummy)
'''
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [1, 3, 5, 6, 7, 8, 9, 13])],
    remainder='passthrough'
)

previsores = ct.fit_transform(previsores).toarray()
'''

"\nfrom sklearn.compose import ColumnTransformer\n\nct = ColumnTransformer(\n    [('one_hot_encoder', OneHotEncoder(categories='auto'), [1, 3, 5, 6, 7, 8, 9, 13])],\n    remainder='passthrough'\n)\n\nprevisores = ct.fit_transform(previsores).toarray()\n"

In [11]:
previsores[0]

array([0.030670557354391753, 7, -1.0636107451560883, 9,
       1.1347387637961643, 4, 1, 1, 4, 1, 0.14845289521747937,
       -0.21665952703259014, -0.03542944697277691, 39], dtype=object)

In [12]:
'''
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)
'''

'\nlabelencoder_classe = LabelEncoder()\nclasse = labelencoder_classe.fit_transform(classe)\n'

In [13]:
# Normalização
'''
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
'''

'\nfrom sklearn.preprocessing import StandardScaler\nscaler = StandardScaler()\nprevisores = scaler.fit_transform(previsores)\n'

In [14]:
from sklearn.model_selection import train_test_split

previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [15]:
# Algoritmo Naive Bayes

from sklearn.naive_bayes import GaussianNB

classificador = GaussianNB()

In [16]:
# Aprendizado / treinamento

classificador.fit(previsores_treinamento, classe_treinamento)

GaussianNB(priors=None, var_smoothing=1e-09)

In [17]:
# previsao / teste

previsoes = classificador.predict(previsores_teste)

In [18]:
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype='<U6')

In [19]:
# classes, contagem de cada classe, probabilidades a priori de cada classe

classificador.classes_, classificador.class_count_, classificador.class_prior_

(array([' <=50K', ' >50K'], dtype='<U6'),
 array([21027.,  6649.]),
 array([0.75975575, 0.24024425]))

In [20]:
# acuracia e matrix de confusao

from sklearn.metrics import accuracy_score, confusion_matrix

acuracia = accuracy_score(classe_teste, previsoes)
matriz_confusao = confusion_matrix(classe_teste, previsoes)

In [21]:
acuracia

0.8057318321392016

In [22]:
matriz_confusao

array([[3528,  165],
       [ 784,  408]])