In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('../datasets/census.csv')

In [3]:
base.shape

(32561, 15)

In [4]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# Normalização

# age, final-weight, education-num, capital-gain, capital-loos, hour-per-week

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

base[['age', 'final-weight', 'education-num', 'capital-gain', 'capital-loos', 'hour-per-week']] = scaler.fit_transform(base[['age', 'final-weight', 'education-num', 'capital-gain', 'capital-loos', 'hour-per-week']])

In [6]:

# transformacao por nome da coluna
#pd.get_dummies(base, columns=['sex'])

# transformacao por indice da coluna
column_names_for_onehot = base.columns[[1, 3, 5, 6, 7, 8, 9, 13]]
base_encode = pd.get_dummies(base, columns=column_names_for_onehot, drop_first=True)

# Separação do dataset em previsores e classe
previsores = base_encode.loc[:, base_encode.columns!='income'].values
classe = base_encode['income'].values

In [7]:
base_encode

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
previsores

array([[ 0.03067056, -1.06361075,  1.13473876, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.83710898, -1.008707  ,  1.13473876, ...,  1.        ,
         0.        ,  0.        ],
       [-0.04264203,  0.2450785 , -0.42005962, ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, ...,  1.        ,
         0.        ,  0.        ],
       [-1.21564337,  0.11095988, -0.42005962, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.98373415,  0.92989258, -0.42005962, ...,  1.        ,
         0.        ,  0.        ]])

In [9]:
classe

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [10]:
# Separação do dataset em previsores e classe

previsores = base.iloc[:, 0:14].values
classe = base.iloc[:, 14].values

In [11]:
# Transformação de variáveis categóricas em numéricas

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_previsores = LabelEncoder()
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [12]:
previsores[0]

array([0.030670557354391753, 7, -1.0636107451560883, 9,
       1.1347387637961643, 4, 1, 1, 4, 1, 0.14845289521747937,
       -0.21665952703259014, -0.03542944697277691, 39], dtype=object)

In [13]:
# Transformação de variáveis nominais (sem ordenação) em 
# numéricas (variaveis do tipo dummy)
'''
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [1, 3, 5, 6, 7, 8, 9, 13])],
    remainder='passthrough'
)

previsores = ct.fit_transform(previsores).toarray()
'''

"\nfrom sklearn.compose import ColumnTransformer\n\nct = ColumnTransformer(\n    [('one_hot_encoder', OneHotEncoder(categories='auto'), [1, 3, 5, 6, 7, 8, 9, 13])],\n    remainder='passthrough'\n)\n\nprevisores = ct.fit_transform(previsores).toarray()\n"

In [14]:
previsores[0]

array([0.030670557354391753, 7, -1.0636107451560883, 9,
       1.1347387637961643, 4, 1, 1, 4, 1, 0.14845289521747937,
       -0.21665952703259014, -0.03542944697277691, 39], dtype=object)

In [15]:
'''
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)
'''

'\nlabelencoder_classe = LabelEncoder()\nclasse = labelencoder_classe.fit_transform(classe)\n'

In [16]:
# Normalização
'''
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
'''

'\nfrom sklearn.preprocessing import StandardScaler\nscaler = StandardScaler()\nprevisores = scaler.fit_transform(previsores)\n'

In [17]:
from sklearn.model_selection import train_test_split

previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [26]:
# Algoritmo kNN

from sklearn.neighbors import KNeighborsClassifier

classificador = KNeighborsClassifier(n_neighbors=5, p=2, metric='minkowski')

In [27]:
# Aprendizado / treinamento

classificador.fit(previsores_treinamento, classe_treinamento)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [28]:
# previsao / teste

previsoes = classificador.predict(previsores_teste)

In [29]:
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [30]:
# classes

classificador.classes_,

(array([' <=50K', ' >50K'], dtype=object),)

In [31]:
# acuracia e matrix de confusao

from sklearn.metrics import accuracy_score, confusion_matrix

acuracia = accuracy_score(classe_teste, previsoes)
matriz_confusao = confusion_matrix(classe_teste, previsoes)

In [32]:
acuracia

0.8235414534288639

In [33]:
matriz_confusao

array([[3344,  349],
       [ 513,  679]])