# Pré-processamento de dados

***

Base census

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('census.csv')
base

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Transformação de variáveis nominais (sem ordenação) em numéricas

Uma técnica possível é utilizar variáveis do tipo dummy.

#### Abaixo um teste com processo completo de transformação da coluna sexo:

In [3]:
'''
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

labelencoder_previsores = LabelEncoder()

previsores_sexo = base.iloc[:, 8:9].values

previsores_sexo[:, 0] = labelencoder_previsores.fit_transform(previsores_sexo[:, 0])

onehotencoder = OneHotEncoder(sparse=False)

previsores_sexo = onehotencoder.fit_transform(previsores_sexo)

previsores_sexo
'''

'\nfrom sklearn.preprocessing import LabelEncoder\nfrom sklearn.preprocessing import OneHotEncoder\n\nlabelencoder_previsores = LabelEncoder()\n\nprevisores_sexo = base.iloc[:, 8:9].values\n\nprevisores_sexo[:, 0] = labelencoder_previsores.fit_transform(previsores_sexo[:, 0])\n\nonehotencoder = OneHotEncoder(sparse=False)\n\nprevisores_sexo = onehotencoder.fit_transform(previsores_sexo)\n\nprevisores_sexo\n'

In [4]:
# transformacao por nome da coluna
#pd.get_dummies(base, columns=['sex'])

# transformacao por indice da coluna
column_names_for_onehot = base.columns[[1, 3, 5, 6, 7, 8, 9, 13]]
base_encode = pd.get_dummies(base, columns=column_names_for_onehot, drop_first=True)
base_encode

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,9,0,0,20,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Separação do dataset em previsores e classe

In [5]:
previsores = base_encode.loc[:, base_encode.columns!='income'].values
classe = base_encode['income'].values

In [6]:
previsores, classe

(array([[    39,  77516,     13, ...,      1,      0,      0],
        [    50,  83311,     13, ...,      1,      0,      0],
        [    38, 215646,      9, ...,      1,      0,      0],
        ...,
        [    58, 151910,      9, ...,      1,      0,      0],
        [    22, 201490,      9, ...,      1,      0,      0],
        [    52, 287927,      9, ...,      1,      0,      0]]),
 array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
       dtype=object))

## Transformação de variáveis categóricas em numéricas

Transforma variaveis categoricas/qualitativas em numericas/quantitativas

In [7]:
from sklearn.preprocessing import LabelEncoder

'''
labelencoder_previsores = LabelEncoder()

previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])

previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])

previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])

previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])

previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])

previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])

previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])

previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

'''

labelencoder_classe = LabelEncoder()

classe = labelencoder_classe.fit_transform(classe)
classe

array([0, 0, 0, ..., 0, 0, 1])

## Escalonamento de atributos

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
previsores

array([[ 0.03067056, -1.06361075,  1.13473876, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [ 0.83710898, -1.008707  ,  1.13473876, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-0.04264203,  0.2450785 , -0.42005962, ...,  0.34095391,
        -0.04540836, -0.02217266],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [-1.21564337,  0.11095988, -0.42005962, ...,  0.34095391,
        -0.04540836, -0.02217266],
       [ 0.98373415,  0.92989258, -0.42005962, ...,  0.34095391,
        -0.04540836, -0.02217266]])